<!DOCTYPE html>
<html>
    <head>
        <title>Plane Game - NunchuckJs</title>

        <meta name="root" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width, height=device-height" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="stylesheets/quiz.css" rel="stylesheet" />

        <script src="js/nunchuck.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="js/multiplayer-quiz.js"></script>

        <link href='http://fonts.googleapis.com/css?family=Montserrat:300' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Montserrat:600' rel='stylesheet' type='text/css'>
        <script>player_data = {}; </script>

        <style>
            .code {
                position: fixed;
                font-size: 15em;
                opacity: .5;
                right: .2em;
                bottom: 0;
            }

            /*.users {
                position: fixed;
                font-family: 'Montserrat', 'Helvetic Neue', 'Helvetica', sans-serif;
                font-size: 1.2em;
                top: 8px;
                left: 8px;
            }*/
        </style>
    </head>

    <body>
        <div class="page-wrap">
            <section id='background' class='layer' >
                <img class='background-image hidden' id="bg-intro" src="assets/quiz/bg-intro.jpg">
                <img class='background-image' id="bg-quiz" src="assets/quiz/bg-quiz.jpg">                
            </section>

            <section id='main-content' class='layer' >
                <section id='splash' class='content hidden' >
                    <div id='instructions' class='hidden'>Press ready to start or wait for players to join</div>
                    <div class='title'>TRIVIA</div>
                    <div class='subtitle'>Multiplayer winner earns 1 extra stream pass</div>
                </section>

                <section id='quiz' class='content' >
                    <div id='question-area'>
                        <div id='question-text'>Who plays the character Logan?</div>
                        <div class='answer' id='answer-a'>
                            <span class='answer-label'>A</span>
                            <span class='answer-text'>Michael Fassbender</span>
                        </div>
                        <div class='answer' id='answer-b'>
                            <span class='answer-label'>B</span>
                            <span class='answer-text'>Patrick Stewart</span>
                        </div>
                        <div class='answer' id='answer-c'>
                            <span class='answer-label'>C</span>
                            <span class='answer-text'>Hugh Jackman</span>
                        </div>
                    </div>

                    <div id='bounty'>
                        +100 pts
                    </div>
                </section>

                <section id='result' class='content hidden' >
                    
                </section>
            </section>

            <section id='footer' class='layer' >
                <div class='left'>
                    <section id='user-lobby'></section>
                    <section id='user-scores'></section>              
                </div>

                <div class='right'>
                    <div id='background-shape'></div>
                    <div id='status-area'>
                        <div id='status-text'>Starting in</div>
                        <div id='countdown'>5</div>                        
                    </div>
                </div>
            </section>
        </div>
    </body>
</html>
